@font-face {
  font-family: 'Gilroy Bold';
  src: url('../../fonts/Gilroy-Bold.eot');
  src: url('../../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-Bold.woff') format('woff'),
  url('../../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../../fonts/Gilroy-Light.eot');
  src: url('../../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-Light.woff') format('woff'),
  url('../../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('../../fonts/Gilroy-ExtraBold.eot');
  src: url('../../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-ExtraBold.woff') format('woff'),
  url('../../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('../../fonts/Gilroy-Medium.eot');
  src: url('../../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-Medium.woff') format('woff'),
  url('../../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Thin';
  src: url('../../fonts/Gilroy-Thin.eot');
  src: url('../../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-Thin.woff') format('woff'),
  url('../../fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.content {
  background: url("../../img/background.jpg") no-repeat;
  background-size: cover;
  &__container {
    width: 86%;
    margin: 0 auto;
  }
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__heading {
    justify-content: space-between;
    padding: 55px 0 0;
    margin-bottom: 25px;
  }
  &__logo {
    margin-right: 32px;
  }
  &__name {
    font-family: 'Gilroy Light', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #000000;
    text-align: center;
    white-space: pre;
  }
  &__icon {
    margin-right: 10%;
  }

  &__adress {
    font-family: 'Gilroy Medium', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #000000;
    white-space: pre;
  }

  &__telephone {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 23px;
    line-height: 23px;
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: 0.02em;
    color: #000000;
  }
  &__call {
    background-image: linear-gradient(0.0deg, #023232 0%, #49aab0 100%);
    font-family: 'Gilroy Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: underline;
    letter-spacing: 0.02em;
    color: #47a9af;
    -webkit-background-clip: text;
    text-align: center;
  }
  &__info {
    width: 50%;
    padding: 125px 5px;
    box-sizing: border-box;
  }
  &__title {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 36.1px;
    line-height: 47px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #000000;
    width: 93%;
    margin-bottom: 50px;
    &--blue {
      color: #0b8481;
    }
    &--rose {
      color: #ec5169;
    }
    &--through {
      color: #0a8480;
      text-decoration: line-through;
    }
    &--uppercase {
      color: #ec5169;
      text-transform: uppercase;
    }
  }
  &__list {
    font-family: 'Gilroy Medium', sans-serif;
    font-size: 12.1px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: 0.02em;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  &__item {
    width: 33%;
  }
  &__text {
    font-family: 'Gilroy Medium', sans-serif;
    font-size: 20.9px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 20px;
  }
  &__input {
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    opacity: 0.7;
    font-family: 'Gilroy Thin', sans-serif;
    font-size: 18px;
    line-height: 55px;
    font-weight: 100;
    letter-spacing: 0.02em;
    border: none;
    padding: 0 5%;
    width: 46%;
    box-sizing: border-box;
    height: 84px;
  }
  &__button {
    background-image: linear-gradient(88.0deg, #ed3b57 0%, #eb6f82 99%);
    border-radius: 0 10px 10px 0;
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    text-align: center;
    box-sizing: border-box;
    height: 84px;
  }
  &__wrap {
    width: 46%;
    align-items: flex-end;
    justify-content: space-around;
  }
  &__inner {
    justify-content: space-between;
    align-items: flex-start;
  }
  &__image {
    position: relative;
    margin-bottom: 80px;
    width: 24%;

    &:after {
      content: "";
      position: absolute;
      right: -48px;
      bottom: -32px;
      width: 111px;
      height: 111px;
      background: url("../../img/present.png") no-repeat;
    }
  }
  &__hidden {
    display: none;
  }
  &__photo{
    width: 65%;
  }
}
@media screen and (max-width: 1300px){
  .content__list {
    flex-direction: column;
    align-items: center;
  }
  .content__item {
    width: 35%;
  }
  .content__element {
    margin-bottom: 40px;
  }
  .content__input{
    padding: 0 2%;
    width: 54%;
  }
}
@media screen and (max-width: 992px){
  .content__name {
    display: none;
    font-size: 18px;
  }
  .content__icon {
    margin-right: 7%;
  }
  .content__title {
    font-size: 23px;
    line-height: 31px;
    text-align: center;
  }
  .content__item {
    width: 62%;
  }

  .content__wrap{
    flex-direction: column;
    align-items: center;
  }
  .content__image {
    width: 61%;
  }
  .content__button {
    font-size: 15px;
  }

  .content__input {
    font-size: 14.6px;
  }
}
@media screen and (max-width: 768px) {


  .content__call {
    display: none;
  }

  .content__direction {
    display: none;
  }

  .content__heading {
    flex-wrap: wrap;
  }

  .content__hidden {
    display: block;
  }

  .content__inner {
    flex-direction: column;
    transform: scale(1, -1);
  }

  .content__info {
    transform: scale(1, -1);
    width: 100%;
    padding: 58px 5px 0;
  }

  .content__wrap {
    transform: scale(1, -1);
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
  }



  .content__logotype {
    margin-bottom: 25px;
  }

  .content__list {
    display: flex;
    margin: 0;
  }

  .content__element {
    margin-bottom: 40px;
  }

  .content__item {
    width: 44%;
  }

  .content__items {
    display: none;
  }

  .content__text--hidden {
    display: none;
  }

  .content__text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 55px;
  }



  .content__image {
    margin: 0;
  }

  .content__image-hidden {
    display: none;
  }

  .content__photo {
    width: 43%;
  }

  .content__band {
    width: 54%;
  }

  .content__image:after {
    content: "";
    position: absolute;
    right: 49px;
    bottom: -12px;
    width: 64px;
    height: 58px;
    background: url(../../img/present-mobile.png) no-repeat;
  }
  .content__form{
    margin-bottom: 15px;
  }
  .content__telephone {
    margin-bottom: 30px;
    text-align: center;
  }
  .content__link{
    text-align: center;
  }
}
@media screen and (max-width: 576px){
  .content__item {
    width: 75%;
  }
  .content__form{
    flex-direction: column;
  }
  .content__button{
    border-radius: 10px;
    width: 100%;
  }
  .content__input{
    border-radius: 10px;
   width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
}